@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.calendar-green {
  background: #dcfce7 !important;
}

.calendar-yellow {
  background: #fef9c3 !important;
}

.calendar-red {
  background: #fecaca !important;
}

/* 

@font-face {
  font-family: "Satoshi";
  src: url("../Fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../Fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../Fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../Fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
  Satoshi Fonts */

/* Theme */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Default Font */

body {
  background-color: #F4EDE7;
  color: var(--foreground);
  font-family: "Times New Roman", Georgia, serif;
}